<html>
<head>
	<title>PiBot</title>
	<script type='text/javascript'>
		console.log('test');
		function loaded() {
			document.body.addEventListener('keypress', handleKeyPress);
		}
		function handleKeyPress(event) {
			console.log(event);
			xhttp.open('GET', '/?command='+event.key, true);
		}
	</script>
</head>
<body onload='loaded();'>
	<div>Test</div>
</body>
</html>